coumputer_grapics_endproject/.vs/coumputer_grapics_endproject/v17/Browse.VC.opendb
coumputer_grapics_endproject/.vs/coumputer_grapics_endproject/FileContentIndex/38eed7b9-b1aa-42e4-8d8d-c5c0be220327.vsidx
